{% extends 'global/base.html' %}

{% block unidades %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <div class="card" style="width: 18rem;">
                <img src="/static/img/fut1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/fut2.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Uniforme Completo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
            
                <img src="/static/img/fut3.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Uniforme Completo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
            
                <img src="/static/img/fut4.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Uniforme Completo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
            
                <img src="/static/img/fut5.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Uniforme Completo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
            
                <img src="/static/img/fut6.jpg" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Uniforme Completo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    
</div>





{% endblock unidades  %}