  <!-- Modal sobre-->
  <div class="modal fade" id="sobre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sobre a Dream Sport</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                A loja oficial dos fanáticos por futebol
Especializada em camisas de futebol e artigos esportivos, a loja virtual surgiu em 2023 e reúne uniformes completos dos mais variados clubes brasileiros, internacionais e seleções. Com a maior variedade em camisas de times de futebol e artigos do seu time de coração, a dream spots trabalha em parceria com as principais marcas esportivas para comercializar somente produtos originais e com garantia de qualidade. São mais de 15mil produtos ativos e mais de 150 marcas parceiras, para apresentar para os fanáticos por esporte, as melhores ofertas. Além disso, a loja possui certificados de segurança que oferecem ao cliente um ambiente de compra confiável.

Por que comprar na dream sports?
Graças aos depoimentos de quem compra a dream sports conquistou o selo Diamante do Ebit, a mais alta classificação que uma loja pode conquistar. Mais de 85% das entregas dentro do prazo e mais de 85% dos clientes pretendem voltar a comprar. A conquista é reflexo do extenso trabalho e investimento dos últimos anos.

A Fut conta com uma equipe com mais de 140 colaboradores em uma estrutura física com mais de 12 mil m², expedindo milhares de pedidos todos os dias, totalizando mais de 70 mil envios ao mês. Hoje, a dream sports contabiliza mais de 1 milhão de clientes cadastrados, atendendo todos os fanáticos com total atenção em uma central de atendimento própria.

A Fut conta com parcerias de qualidade com as principais transportadoras, com entrega 100% em todo território nacional. Além de uma política de frete agressiva, para possibilitar uma boa oportunidade de compra para os fanáticos.

Além de toda logística e sua estrutura, a Fut está presente nos principais Marketplaces para vendas online: Netshoes, Mercado livre e B2W. Sinal de confiança em nossa empresa para oferecer os produtos e qualidade da dream sports em seus sites.

Vem Pro APP
Em 2023, a dream sports lançou o seu próprio APP, com o intuito de facilitar as suas compras, e possibilitando uma navegação mais rápida e fácil. O Aplicativo da Fut oferece uma usabilidade melhor, vitrines personalizadas com base no seu perfil, as compras são super seguras, o rastreamento de pedidos é fácil, você pode favoritar seus produtos preferidos e ainda conta com cupom de desconto na primeira compra. Além de notificações que deixarão você mais próximo das principais ofertas da loja. O App está disponível para aparelhos com o sistema Android e iOS.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal login-->
<div class="modal fade" id="exampleModallogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login de Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" name="form_cadastrousuario">

                    <label for="email">E-mail</label>
                    <input type="email" name="email">
                    <br>
                    <br>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha">
                    <br>
                    <br>

                    <!--<input type="submit" name="logarrusuario" value="logar">-->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Logar</button>
            </div>
        </div>
    </div>
</div>

